<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Address book - programming exercise for Administrate">
    <meta name="author" content="Alexander N Scott">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js' %}"></script>

    <title>{% block title %}Address Book{% endblock %}</title>
</head>
<body>
    <div class="container addr-container">
        {% block home %}{% endblock %}
        {% block person %}{% endblock %}
        {% block edit_person %}{% endblock %}
        {% block organisation %}{% endblock %}
        {% block edit_organisation %}{% endblock %}
    </div>

</body>
</html>