{% extends 'base.html' %}

{% block edit_person %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">Create/Edit Person</h1>
            <br>
        </div>
    </div>

    <form id="person_form" method="post" action="{% if person %}{% url 'update_person' page_id=person.id %}{% else %}{% url 'create_person' %}{% endif %}">
        {% csrf_token %}

        <div class="row">
            <div class="col-lg-6">
                <h3>Contact Details</h3>
                {% for field in form %}
                    {% if forloop.counter <= 7 %}
                        <label>{{ field.help_text }}:</label>
                        <br>
                        {{ field }} {{ field.errors }}
                        <br><br>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-lg-6">
                <h3>Address Details</h3>
                {% for field in form %}
                    {% if forloop.counter > 7 %}
                        <label>{{ field.help_text }}:</label>
                        <br>
                        {{ field }} {{ field.errors }}
                        <br><br>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <div class="pull-right btn-toolbar">
                    <a class="btn btn-primary" href="{% url 'home'  %}">Home</a>
                    <a class="btn btn-success" href="#" id="submit_person">Save Contact</a>

                </div>
            </div>
        </div>
    </form>

    <style>
        input[type=text], select {
            width: 100%;
        }
    </style>

    <script>
        // JQuery routine to submit form. This allows us to use a standard
        // href rather than an input.
        $('#submit_person').click(function() {
            $('#person_form').submit();
        });
    </script>

{% endblock %}