{% extends 'base.html' %}

{% block home %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">Address Book</h1>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>People <a class="btn btn-secondary" href="{% url 'create_person' %}">+ Add New</a></h2>
            <table class="table table-hover table-bordered" id="person-table">
                <thead>
                    <tr>
                        <th> Name </th>
                        <th> Tel. </th>
                        <th> Email </th>
                        <th> Organisation </th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in people %}
                        <tr>
                            <td> <a href="{% url 'view_person' page_id=row.id %}" >{{ row.get_fullname }}</a> </td>
                            <td> {{ row.telephone }} </td>
                            <td> {{ row.email }} </td>
                            <td> {{ row.organisation.org_name }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>Organisations <a class="btn btn-secondary" href="{% url 'create_org' %}">+ Add New</a></h2>
            <table class="table table-hover table-bordered" id="org-table">
                <thead>
                    <tr>
                        <th> Organisation Name </th>
                        <th> Tel. </th>
                        <th> Email </th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in orgs %}
                        <tr>
                            <td> <a href="{% url 'view_org' page_id=row.id %}" >{{ row.org_name }}</a> </td>
                            <td> {{ row.telephone }} </td>
                            <td> {{ row.email }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        // Initialisation for Datatables. I chose to hide the items-per-page
        // selectors and set a fixed number of visible items.

        $('#person-table').ready(function() {
            $('#person-table').dataTable({
                "bLengthChange": false,
                "pageLength": 6
            });
        });

        $('#org-table').ready(function() {
            $('#org-table').dataTable({
                "bLengthChange": false,
                "pageLength": 4
            });
        });
    </script>

{% endblock %}
