{% extends 'base.html' %}

{% block organisation %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">{{ org.org_name }} - Details</h1>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">

            <table class="table-hover details-table">
                <tr>
                    <td><label>Organisation: </label></td>
                    <td>{{ org.org_name }}</td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td><label>Telephone: </label></td>
                    <td>{{ org.telephone }}</td>
                </tr>
                <tr>
                    <td><label>Email: </label></td>
                    <td>{{ org.email }}</td>
                </tr>
            </table>

        </div>
        <div class="col-lg-6">

            <table class="table-hover details-table">
                <tr>
                    <td><label>Locality: </label></td>
                    <td>{{ org.composite_addr|linebreaks }}</td>
                </tr>
                <tr>
                    <td><label>City: </label></td>
                    <td>{{ org.address_city }}</td>
                </tr>
                <tr>
                    <td><label>County: </label></td>
                    <td>{{ org.address_county }}</td>
                </tr>
                <tr>
                    <td><label>Post Code: </label></td>
                    <td>{{ org.address_postcode }}</td>
                </tr>
            </table>

        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-lg-12">

            <div class="pull-right btn-toolbar">
                <a class="btn btn-primary" href="{% url 'update_org'  page_id=org.id %}">Edit Organisation</a>
                <a class="btn btn-danger" href="{% url 'update_org'  page_id=org.id %}?delete=true">Delete Organisation</a>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>People in this Organisation</h2>
            <table class="table table-hover table-bordered" id="person-table">
                <thead>
                    <tr>
                        <th> Name </th>
                        <th> Tel. </th>
                        <th> Email </th>
                        <th> Organisation </th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in people %}
                        <tr>
                            <td> <a href="{% url 'view_person' page_id=row.id %}" >{{ row.get_fullname }}</a> </td>
                            <td> {{ row.telephone }} </td>
                            <td> {{ row.email }} </td>
                            <td> {{ row.organisation.org_name }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
        </div>
    </div>

    <script>

        $('#person-table').ready(function() {
            $('#person-table').dataTable({
                "lengthMenu": [[12, 50, -1], [12, 50, "All"]],
                "bLengthChange": false,
                "pageLength": 6
            });
        });

    </script>

{% endblock %}