/*
    Main stylesheet for page layout.
*/

html, body {
    height: 100%;
}

body {
    background-color: #e6ecff;
}

.addr-container {
    /*width: 800px;
    margin: 0 auto;
    padding: 1px 10px 10px 10px; */
    background-color: #ffffff;
    height: 100%;
}

.details-table {
    font-size: 18px;
    /*width: 100%; */
}

.details-table td {
    vertical-align: top;
    padding-right: 40px;
}
